
<!-- Modal -->
<div class="modal fade" id="BrandModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:70vw;">
        <form id="addBrandForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm Thương Hiệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Cột trái -->

                        @*Lưu trữ ID Cate*@
                        <input type="hidden" name="brand_id"/>

                        <div class="col-12">
                            <!-- Tên danh mục -->
                            <div class="form-group row mb-3">
                                <label class="col-sm-4 col-form-label">Tên thương hiệu :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" required />
                                </div>

                            </div>
                            <!-- Mô tả -->
                            <div class="form-group row mb-3">
                                <label class="col-sm-4 col-form-label">Mô tả :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="description" required />
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-sm-4 col-form-label">Hình ảnh :</label>
                                <div class="col-sm-8">
                                    <img src="/Upload/Logo/none.jpg" id="ImageUrl" width="90" height="90" class="rounded border" alt="Image Preview" />
                                    <input type="file" class="form-control" name="imageFile" accept="image/*" required />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
           
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                   
                        <button type="button" id="update" class="btn btn-success" style="display:none">Lưu thay đổi</button>

                    <button type="submit" id="add" class="btn btn-success" style="display:inline-block">Thêm mới</button>

                </div>
            </div>
        </form>
    </div>
</div>

@* jQuert Code *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    //Thêm Cate
    $(document).ready(function () {
        $('#addBrandForm').on('submit', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của form

            // Hiển thị biểu tượng loading
            $('.loading-container').show();

            // Tạo FormData từ form
            var formData = new FormData(this);

            // Gửi AJAX request với dữ liệu FormData
            $.ajax({
                method: 'POST',
                url: 'Brands/create',
                data: formData,
                contentType: false, // Để jQuery không thiết lập content-type
                processData: false, // Để jQuery không xử lý data
                success: function (response) {
                    $('#BrandModal').modal('hide');
                    // Ẩn biểu tượng loading
                    $('.loading-container').hide();
                    location.reload();
                },
                error: function (xhr, status, error) {
                    // Ẩn biểu tượng loading
                    $('.loading-container').hide();
                    // Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
                    alert('Đã xảy ra lỗi: ' + error);
                }
            });
        });


        $(document).on('click', '#update', function () {
            $('.loading-container').show(); // Hiển thị loader
            var id_cate = $("input[name='brand_id']").val();

            // Tạo FormData từ các trường cần thiết
            var formData = new FormData();
            formData.append('Name', $("input[name='name']").val());
            formData.append('Description', $("input[name='description']").val());

            // Thêm hình ảnh vào FormData nếu có
            var imageFile = $("input[name='imageFile']").prop('files')[0];
            if (imageFile) {
                formData.append('imageFile', imageFile);
            }

            $.ajax({
                method: 'PUT', // Đảm bảo rằng bạn đang sử dụng PUT
                url: 'Brands/Update/' + id_cate,
                data: formData,
                contentType: false, // Để jQuery không thiết lập content-type
                processData: false, // Để jQuery không xử lý data
                success: function (response) {
                    $('#BrandModal').modal('hide');
                    // Ẩn biểu tượng loading
                    $('.loading-container').hide();
                    location.reload();
                },
                error: function (xhr, status, error) {
                    $('.loading-container').hide();
                    alert('Đã xảy ra lỗi: ' + error);
                }
            });
        });


    });



</script>
