<a id="redirectUrl" href="#">
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
   
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="fa fa-check-circle rounded me-2" alt="Success Notification"></i>
                    <strong class="me-auto" id="toastTitle">Thông báo</strong>
                    <small id="toastTime">Vừa xong</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toastBody">
                    Nội dung thông báo sẽ hiển thị ở đây.
                </div>
            </div>
    </div>
</a>