
<!-- Modal -->
<div class="modal fade" id="CategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:70vw;">
        <form id="addCategoryForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm Danh Mục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Cột trái -->

                        @*Lưu trữ ID Cate*@
                        <input type="hidden" name="cate_id"/>
                        <form id="CategoryForm" enctype="multipart/form-data">
                            <div class="col-12">
                                <!-- Tên danh mục -->
                                <div class="form-group row mb-3">
                                    <label class="col-sm-4 col-form-label">Tên danh mục :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="name" placeholder="Nhập tên danh mục" required />
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-sm-4 col-form-label">Tiêu đề tiếng Anh :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="EngTitle" placeholder="Nhập tiêu đề tiếng Anh" required />
                                    </div>
                                </div>
                                <!-- Mô tả -->
                                <div class="form-group row mb-3">
                                    <label class="col-sm-4 col-form-label">Mô tả :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="description" placeholder="Nhập mô tả" required />
                                    </div>
                                </div>
                                <!-- Hiển thị -->
                                <div class="form-group row mb-3">
                                    <label class="col-sm-4 col-form-label">Cho phép hiển thị:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="visible">
                                            <option value="1">Cho phép</option>
                                            <option value="0">Không cho phép</option>

                                        </select>
                                    </div>
                                </div>
                                @*     Hình ảnh *@
                                <div class="form-group row mb-3">
                                    <label class="col-sm-4 col-form-label">Hình ảnh :</label>
                                    <div class="col-sm-8">
                                        <img src="/Upload/Logo/none.jpg" id="ImageUrl" width="90" height="90" class="rounded border" alt="Image Preview" />
                                        <input type="file" class="form-control" name="imageFile" required />
                                    </div>
                                </div>
                            </div>
                        </form>
                    
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                   
                        <button type="button" id="update" class="btn btn-success" style="display:none">Lưu thay đổi</button>

                    <button type="submit" id="add" class="btn btn-success" style="display:inline-block">Thêm mới</button>

                </div>
            </div>
        </form>
    </div>
</div>

@* jQuert Code *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    //Thêm Cate
    $(document).ready(function () {
        $('#addCategoryForm').on('submit', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của form

            // Hiển thị biểu tượng loading
            $('.loading-container').show();

            // Tạo FormData từ form
            var formData = new FormData(this);

            // Gửi AJAX request với dữ liệu FormData
            $.ajax({
                method: 'POST',
                url: 'Categories/create',
                data: formData,
                contentType: false, // Để jQuery không thiết lập content-type
                processData: false, // Để jQuery không xử lý data
                success: function (response) {
                    $('#CategoryModal').modal('hide');
                    // Ẩn biểu tượng loading
                    $('.loading-container').hide();
                    location.reload();
                },
                error: function (xhr, status, error) {
                    // Ẩn biểu tượng loading
                    $('.loading-container').hide();
                    // Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
                    alert('Đã xảy ra lỗi: ' + error);
                }
            });
        });


        $(document).on('click', '#update', function () {
            $('.loading-container').show(); // Hiển thị loader
            var id_cate = $("input[name='cate_id']").val();

            // Tạo FormData để chứa dữ liệu
            var formData = new FormData();
            formData.append("Name", $("input[name='name']").val());
            formData.append("EngTitle", $("input[name='EngTitle']").val());
            formData.append("Description", $("input[name='description']").val());
            formData.append("Visible", $("select[name='visible']").val());

            // Kiểm tra nếu có file ảnh và thêm vào FormData
            var imageFile = $("input[name='imageFile']")[0].files[0];
            if (imageFile) {
                formData.append("imageFile", imageFile);
            }

            $.ajax({
                method: 'PUT', // Đảm bảo rằng bạn đang sử dụng PUT (hoặc POST nếu không hỗ trợ PUT)
                url: 'Categories/Update/' + id_cate,
                data: formData,
                contentType: false, // Đặt thành false để jQuery không tự động thêm tiêu đề Content-Type
                processData: false, // Đặt thành false để không xử lý dữ liệu
                success: function (response) {
                    $('#CategoryModal').modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    $('.loading-container').hide();
                    alert('Đã xảy ra lỗi: ' + error);
                }
            });
        });
        //Xử lý sự kiện bấm nút space trên input Eng-title
        $("input[name='EngTitle']").on('keypress', function (event) {
            // Kiểm tra nếu phím được nhấn là dấu cách (space)
            if (event.which === 32) {
                // Ngừng hành động mặc định (thêm dấu cách)
                event.preventDefault();
                // Thay thế dấu cách bằng dấu "-"
                var currentVal = $(this).val();
                var newVal = currentVal + "-";
                $(this).val(newVal);
            }
        });
    });



</script>
