<!-- Modal -->
<div class="modal fade" id="productDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:60vw">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row d-flex">
                    <!-- Hình ảnh sản phẩm -->
                    <div class="col-md-4 text-center">
                        <img class="img-fluid rounded shadow" id="imgProduct" src="https://126.cdn.vccloud.vn/uploads/2024/02/ip16promaxx.webp" style="height:250px;width:auto%;object-fit:cover;" alt="iPhone 16 Pro Max" />
                    </div>
                    <!-- Thông tin sản phẩm -->
                    <div class="col-md-8">
                        <div class="product-name mb-2">
                            <div>
                                <span class="badge badge-success stockValue" style="font-size: 1.05em; padding: 0.4em 1.2em;">Còn hàng</span>


                            </div>
                            <input type="hidden" id="IdProduct"/>
                            <h3 id="nameProduct" class="fw-bold">iPhone 16 Pro Max</h3>
                        </div>
                        <div class="mb-3">
                            <span id="priceProduct" class="fs-4 text-danger fw-semibold">Giá: 16.000.000đ</span>
                        </div>

                        <div id="variantCardsContainer" class="d-flex flex-wrap justify-content-start">
                            <!-- Variant cards will be inserted here -->
                        </div>
                        <style>
                           
                        </style>
                      
                    </div>
                </div>
                <div class="row py-3">
                    <div>
                        <strong>Danh Mục:</strong>
                        <p class="text-muted d-inline-block" id="categoryName"></p>
                    </div>
                    <div> 
                        <strong>Thương Hiệu:</strong>
                        <p class="text-muted d-inline-block" id="brandName"></p>
                    </div>
                    <div>
                        <strong>SKU:</strong>
                        <p class="text-muted d-inline-block" id="sku"></p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <!-- Nút hành động -->
                <button type="button" id="AddToCart" class="btn btn-outline-primary btn-lg">Thêm vào giỏ hàng</button>
                <button type="button" class="btn btn-outline-danger btn-lg" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
